@import url('http://fonts.cdnfonts.com/css/pokemon-fire-red');

.body{
    margin: 0;
    background-color: rgba(221, 193, 193, 0.582);
}
*{
    
    font-family: 'Pokemon Fire Red';
    font-size: 21px;
    text-transform: uppercase;
}

.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;

}

